body{
    background-color: #161616;
}

header{
    background-image: url("source/[GetPaidStock.com]-6203e2522a3a2.jpg");
    background-color: #cccccc;
}
.container-fluid{
    padding-left: 100px;
}
.navbar-nav {
    padding-right: 100px;
}

.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item .nav-link,
.navbar-dark .nav-item .nav-link,
.navbar-dark .nav-item .nav-link{
    padding-right:10px;
}
.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item .nav-link:active,
.navbar-dark .nav-item .nav-link:focus,
.navbar-dark .nav-item:hover .nav-link {
    background-color: #cccccc5e;
    border-radius: 5px;
    transition: 1s;
    color: rgb(233, 124, 0);
}

.first-banner{
    max-width: 1080px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.column{
    min-width: 300px;
    flex-basis: 50%; 
    margin-top: 150px;
    margin:0 auto;
    
}
.first-banner > .column > img{
    max-width: 300px ;
    padding-left: 50px;
}
header h1{
    color: orange;
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
header p{
    color: white;
}
.bth{
    display: inline-block;
    background: rgb(233, 124, 0);
    color: white;
    padding: 8px 30px;
    margin: 30px 0;   
    border-radius: 5px;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    margin-top: 50px;
    
}
.small-container{
    margin-left: 30px;
}
.col{
    flex-basis: 50%;
    max-width: 200px;
    color: white;
}
.col > h2{
    font-size: 1em;
    margin-top: 30px;
}
.col > p{
    font-size: 0.9em;
}
.col img{
    width: 70px;
    background-color: #414141;
    padding: 10px;
    border-radius: 10px;
}


.small-container-2{
    background-color: aliceblue;
    border-radius: 10px;
    max-width: 1080px;
    margin:auto;
    margin-top: 70px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}
.row{ 
    align-items: center;
    
}
.col2{
    flex-basis: 50%;
}
.col2 img{
    min-width: 320px;
    max-width: 100%;
    border-radius: 5px;
}


.popular{
    max-width: 1080px;
    margin:auto;
    margin-top: 70px;
}
.popular > h1{
    text-align: center;
    color: white;
}
.small-container-3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
}
.col3:hover{
    background-color: #cccccc5e;
    border-radius: 5px;
    transition: 1s;
}
.col3{
    
    flex-basis: 25%;
    margin-top: 20px;
    padding: 10px;
    max-width: 250px;
    border-radius: 3px;
    color: white;
    
}
.col3 img{
    align-items: center;
    border-radius: 3px;
    width: 100%;
    max-width: 250px;
}
.col3 > h3{
    margin-top: 5px;
    font-size: 1.4em;
}
.col3 > p{
    font-size: 1em;
}
#seeMore{
    margin: 0 auto;
    width: 130px;
    display: block;
    background: rgb(233, 124, 0);
    color: white;
    padding: 8px 30px;
    border-radius: 5px;
}

.card {
    border: none;
    margin: 0px;
}

.user-content p {
    margin-top: 5px;
    font-size: 12px;
}
.rating{
    width: 100px;
    margin: 0 auto;
}


footer{
    background-color:#414141 ;
}
a{
    text-decoration: none;
    color: white;
}


